* {
  margin: 0;
  padding: 0;
  cursor: url(../frontend/pics/cursor_pizza.svg), auto;
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(pics/pizza_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    height: 8%;
    font-size: 350%;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;

    .list-box {
      background-color: white;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-direction: row;
      width: 45%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.8;

      .pizzas {
        display: flex;
        flex-direction: column;
        width: 95%;

        .pizza-lap {
          color: black;
          font-size: 200%;
          padding: 5px;
        }

        .pizza-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 0.7rem;
          box-shadow: 2px 2px 2px 2px gray;
          height: 10%;

          span {
            width: 75%;
            margin-right: 20px;

            p {
              width: 100%;
            }
          }
        }
        h2 {
          // margin-bottom: 20px;
        }
        img {
          height: 100%;
          margin-right: 20px;
        }
      }

      .quantity-div {
        align-items: stretch;
        form {
          display: flex;
          flex-direction: row;
          margin-top: 4.5rem;

          .quantity {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }

    .order-box {
      background-color: white;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-direction: row;
      width: 45%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.8;
    }
  }
}
