* {
  margin: 0;
  padding: 0;
  cursor: url(/data/img/cursor_pizza.svg), auto;
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(/data/img/pizza_background.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    height: 8%;
    font-size: 350%;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;

    .list-box {
      background-color: white;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-direction: row;
      width: 45%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.8;
      box-shadow: 2px 2px 2px 2px gray;

      .pizzas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;

        .pizza-lap {
          color: black;
          display: flex;
          font-size: 200%;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 1px;
          border-radius: 10px;
          width: 30%;
          height: 5%;
          margin-bottom: 5px;
          margin-top: 2px;
          margin-left: auto;
          margin-right: auto;
        }

        .pizza-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 0.7rem;
          box-shadow: 2px 2px 2px 2px gray;
          height: 10%;

          img {
            height: 100%;
            margin-right: 20px;
            width: 13%;
            box-shadow: 2px 2px 2px 2px grey;
            border-radius: 50%;
          }

          span {
            width: 60%;

            p {
              width: 100%;
              font-weight: 700;
            }
          }

          form {
            display: flex;
            flex-direction: row;
            input[type="number"]::-webkit-inner-spin-button {
              cursor: url(/data/img/cursor_pizza.svg), auto;
            }

            input.kosar-button {
              color: black;
              font-weight: 500;
              background-color: rgb(167, 159, 159);
              border: none;
              border-radius: 10px;
              font-weight: 700;
              padding: 5px;
              box-shadow: 1px 1px 1px 1px grey;
            }

            input.kosar-button:active {
              transition: ease-in;
              box-shadow: none;
            }

            .quantity {
              width: 30px;
              margin-right: 10px;
              height: 20px;
              padding: 5px;
              border: 0;
              border-radius: 10px;
            }
          }
        }
      }
    }

    .order-box {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 45%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.8;

      h2 {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        background-color: lightgrey;
        opacity: 0.9;
        padding: 1px;
        border-radius: 10px;
        width: 30%;
        height: 5%;
        margin-bottom: 5px;
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
      }

      .ordered-pizzas {
        display: flex;
        height: 60%;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        opacity: 0.9;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        box-shadow: 2px 2px 2px 2px darkgrey;
        width: 95%;

        .order-pizza-card {
          display: flex;
          width: 95%;
          flex-direction: row;
          align-items: center;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 0.7rem;
          box-shadow: 2px 2px 2px 2px gray;
          height: 10%;

          img {
            height: 100%;
            margin-right: 20px;
            width: 8%;
            box-shadow: 2px 2px 2px 2px grey;
            border-radius: 50%;
          }

          span {
            width: 60%;
            flex-direction: row;
            justify-content: flex-start;

            h2 {
              font-size: 150%;
              width: 95%;
              justify-content: flex-start;
            }

            p {
              width: 100%;
              font-size: 100%;
              font-weight: 400;
            }
          }
          form {
            width: 32%;

            h2 {
              width: 100%;
            }
          }
        }
      }

      .details {
        display: flex;
        height: 30%;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        opacity: 0.9;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        box-shadow: 2px 2px 2px 2px darkgrey;
        width: 95%;

        input {
          margin-top: 5px;
          border-radius: 10px;
          width: 50%;
          height: 15%;
          padding: 5px;
          border: 0;
          font-weight: 700;
        }
        .order-button {
          background-color: darkgrey;
          font-weight: 700;
          box-shadow: 2px 2px 2px 2px rgb(87, 87, 87);
        }
        .order-button:active {
          transition: ease-in;
          box-shadow: none;
        }
      }
    }
  }

  //index2.html - STYLE

  .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(/backend/data/img/pizza_background.png);
    font-family: "Quicksand", sans-serif;
    input[type="number"]::-webkit-inner-spin-button {
      cursor: url(/data/img/cursor_pizza.svg), auto;
    }

    .successful-order {
      display: flex;
      height: 80%;
      width: 40%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: lightgrey;
      opacity: 0.9;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 0.7rem;
      box-shadow: 2px 2px 2px 2px gray;
      font-family: "Quicksand", sans-serif;
      input[type="number"]::-webkit-inner-spin-button {
        cursor: url(/data/img/cursor_pizza.svg), auto;
      }

      h1 {
        display: flex;
        height: 10%;
        color: black;
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 150%;
        font-family: "Quicksand", sans-serif;
        input[type="number"]::-webkit-inner-spin-button {
          cursor: url(/data/img/cursor_pizza.svg), auto;
        }
      }

      .ordered {
        display: flex;
        height: 60%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: white;
        opacity: 0.9;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        box-shadow: 2px 2px 2px 2px gray;
        width: 90%;
        input[type="number"]::-webkit-inner-spin-button {
          cursor: url(/data/img/cursor_pizza.svg), auto;
        }
        font-family: "Quicksand", sans-serif;

        .order-details {
          width: 100%;
        }

        .order-card {
          font-size: 20px;
          font-family: "Quicksand", sans-serif;
          display: flex;
          width: 95%;
          flex-direction: row;
          align-items: center;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 0.7rem;
          box-shadow: 2px 2px 2px 2px gray;
          height: 10%;

          .order-amount {
            padding-left: 4rem;
          }
        }
        .details-card {
          font-size: 20px;
          font-family: "Quicksand", sans-serif;
          display: block;
          width: 95%;
          flex-direction: row;
          align-items: center;
          background-color: lightgrey;
          opacity: 0.9;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 0.7rem;
          box-shadow: 2px 2px 2px 2px gray;
          height: 30%;
        }
      }
    }
  }
}

//Pizzalist style
#pizzalist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .pizzalist {
    display: flex;

    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    height: 95vh;
    background-color: lightgrey;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;

    .form {
      height: 8%;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      form {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 80%;
        width: 100%;

        input {
          border-radius: 10px;
          height: 50%;
          padding: 5px;
          margin-left: 15px;
          width: 15%;
        }

        input[type="file"] {
          display: none;
        }

        .upload-button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-size: 100%;
          font-weight: 500;
          height: 80%;
          background-color: rgb(167, 159, 159);
          border: none;
          border-radius: 10px;
          font-weight: 700;
          margin-left: 10px;
          padding: 10px;
          box-shadow: 1px 1px 1px 1px grey;
          width: 15%;
          height: 20%;
        }

        .button {
          color: black;
          font-size: 100%;
          font-weight: 500;
          height: 70%;
          background-color: rgb(167, 159, 159);
          border: none;
          border-radius: 10px;
          font-weight: 700;
          padding: 5px;
          box-shadow: 1px 1px 1px 1px grey;
          width: 10%;
        }

        .button:active {
          transition: ease-in;
          box-shadow: none;
        }
      }
    }
  }

  .pizza-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgrey;
    opacity: 0.9;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    box-shadow: 2px 2px 2px 2px gray;
    height: 5%;
    width: 95%;

    img {
      height: 100%;
      margin-right: 20px;
      width: 3%;
      margin-left: 10px;
      box-shadow: 2px 2px 2px 2px grey;
      border-radius: 50%;
    }

    span {
      width: 65%;
      display: flex;

      h2 {
        font-size: 100%;
        width: 30%;

        justify-content: flex-start;
      }

      p {
        font-weight: 500;
        width: 70%;
      }
    }

    .edit-button {
      color: black;
      font-size: 100%;
      margin-right: 20px;
      height: 80%;
      background-color: rgb(167, 159, 159);
      border: none;
      border-radius: 10px;
      font-weight: 700;
      padding: 5px;
      box-shadow: 1px 1px 1px 1px grey;
      width: 17%;
    }

    .edit-button:active {
      transition: ease-in;
      box-shadow: none;
      width: 10%;
    }
  }
}

//Orderlist style - MÉG NEM MŰKÖDIK
.orderlist-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .orderlist {
    display: flex;
    align-items: center;

    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    height: 95vh;
    background-color: lightgrey;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;

    .order-card {
      margin-top: 20px;
      width: 90%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: rgb(151, 149, 149);
      box-shadow: 2px 2px 2px 2px gray;
      padding: 5px;
      border-radius: 10px;

      .order-items-card {
        justify-content: space-between;
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        display: flex;
        width: 25%;
        flex-direction: row;
        align-items: center;
        background-color: white;
        opacity: 0.9;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        box-shadow: 2px 2px 2px 2px gray;
        height: 50%;
        padding: 15px;
      }

      .order-details-card {
        justify-content: space-between;
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        display: flex;
        width: 95%;
        flex-direction: row;
        align-items: center;
        background-color: white;
        opacity: 0.9;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        padding: 15px;
        box-shadow: 2px 2px 2px 2px gray;
        height: 10%;
      }
    }
  }
}
