* {
  margin: 0;
  padding: 0;
  cursor: url(/data/img/cursor_pizza.svg), auto;
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(/data/img/pizza_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
body h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  height: 8%;
  font-size: 350%;
}
body .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
}
body .container .list-box {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  width: 45%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 2px 2px 2px 2px gray;
}
body .container .list-box .pizzas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}
body .container .list-box .pizzas .pizza-lap {
  color: black;
  display: flex;
  font-size: 200%;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 1px;
  border-radius: 10px;
  width: 30%;
  height: 5%;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}
body .container .list-box .pizzas .pizza-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  height: 10%;
}
body .container .list-box .pizzas .pizza-card img {
  height: 100%;
  margin-right: 20px;
  width: 13%;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 50%;
}
body .container .list-box .pizzas .pizza-card span {
  width: 60%;
}
body .container .list-box .pizzas .pizza-card span p {
  width: 100%;
  font-weight: 700;
}
body .container .list-box .pizzas .pizza-card form {
  display: flex;
  flex-direction: row;
}
body .container .list-box .pizzas .pizza-card form input[type=number]::-webkit-inner-spin-button {
  cursor: url(/data/img/cursor_pizza.svg), auto;
}
body .container .list-box .pizzas .pizza-card form input.kosar-button {
  color: black;
  font-weight: 500;
  background-color: rgb(167, 159, 159);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px grey;
}
body .container .list-box .pizzas .pizza-card form input.kosar-button:active {
  transition: ease-in;
  box-shadow: none;
}
body .container .list-box .pizzas .pizza-card form .quantity {
  width: 30px;
  margin-right: 10px;
  height: 20px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
}
body .container .order-box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
}
body .container .order-box h2 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 1px;
  border-radius: 10px;
  width: 30%;
  height: 5%;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}
body .container .order-box .ordered-pizzas {
  display: flex;
  height: 60%;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px darkgrey;
  width: 95%;
}
body .container .order-box .ordered-pizzas .order-pizza-card {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  height: 10%;
}
body .container .order-box .ordered-pizzas .order-pizza-card img {
  height: 100%;
  margin-right: 20px;
  width: 8%;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 50%;
}
body .container .order-box .ordered-pizzas .order-pizza-card span {
  width: 60%;
  flex-direction: row;
  justify-content: flex-start;
}
body .container .order-box .ordered-pizzas .order-pizza-card span h2 {
  font-size: 150%;
  width: 95%;
  justify-content: flex-start;
}
body .container .order-box .ordered-pizzas .order-pizza-card span p {
  width: 100%;
  font-size: 100%;
  font-weight: 400;
}
body .container .order-box .ordered-pizzas .order-pizza-card form {
  width: 32%;
}
body .container .order-box .ordered-pizzas .order-pizza-card form h2 {
  width: 100%;
}
body .container .order-box .details {
  display: flex;
  height: 30%;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px darkgrey;
  width: 95%;
}
body .container .order-box .details input {
  margin-top: 5px;
  border-radius: 10px;
  width: 50%;
  height: 15%;
  padding: 5px;
  border: 0;
  font-weight: 700;
}
body .container .order-box .details .order-button {
  background-color: darkgrey;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px rgb(87, 87, 87);
}
body .container .order-box .details .order-button:active {
  transition: ease-in;
  box-shadow: none;
}
body .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(/backend/data/img/pizza_background.png);
  font-family: "Quicksand", sans-serif;
}
body .container2 input[type=number]::-webkit-inner-spin-button {
  cursor: url(/data/img/cursor_pizza.svg), auto;
}
body .container2 .successful-order {
  display: flex;
  height: 80%;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  font-family: "Quicksand", sans-serif;
}
body .container2 .successful-order input[type=number]::-webkit-inner-spin-button {
  cursor: url(/data/img/cursor_pizza.svg), auto;
}
body .container2 .successful-order h1 {
  display: flex;
  height: 10%;
  color: black;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 150%;
  font-family: "Quicksand", sans-serif;
}
body .container2 .successful-order h1 input[type=number]::-webkit-inner-spin-button {
  cursor: url(/data/img/cursor_pizza.svg), auto;
}
body .container2 .successful-order .ordered {
  display: flex;
  height: 60%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  width: 90%;
  font-family: "Quicksand", sans-serif;
}
body .container2 .successful-order .ordered input[type=number]::-webkit-inner-spin-button {
  cursor: url(/data/img/cursor_pizza.svg), auto;
}
body .container2 .successful-order .ordered .order-details {
  width: 100%;
}
body .container2 .successful-order .ordered .order-card {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  height: 10%;
}
body .container2 .successful-order .ordered .order-card .order-amount {
  padding-left: 4rem;
}
body .container2 .successful-order .ordered .details-card {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  display: block;
  width: 95%;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  box-shadow: 2px 2px 2px 2px gray;
  height: 30%;
}

#pizzalist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pizzalist-container .pizzalist {
  margin-top: 20px;
  width: 90%;
  height: 95vh;
  background-color: lightgrey;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 10px;
}

#orderlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#orderlist-container .orderlist {
  margin-top: 20px;
  width: 90%;
  height: 95vh;
  background-color: lightgrey;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */